<%= include_gon %>

<% if @profile.errors.any? %>
  <%= javascript_pack_tag 'profiles_render' %>
<% end %>

<div class="col-md-6" id="main_div">

  <% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2 class="error_h2"><%= @profile.errors.count %>件のエラーがあります。</h2>
    <ul class="error_ul">
      <% @profile.errors.full_messages.each do |msg| %>
      <li class="error_li"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="profile_edit">

    <div class="profile_form">
      <%= form_with( model: @profile, local: true ) do |f| %>
        <%= f.label :image, "アイコン画像" %><br>
        <% if @profile.image.url.present?%>
          <%= image_tag @profile.image.url %><br>
        <% else %>
          <%= image_tag src="/assets/default.png", size: "60x60" %><br>
        <% end %>
        <%= f.file_field :image %><br>
        <%= f.label :user_name, "ユーザー名" %><br>
        <%= f.text_field :user_name, :placeholder => "15文字以内で入力", :class => 'profile_text_field'%> <br>
        <%= f.label :introduction, "自己紹介" %><br>
        <%= f.text_area :introduction, :placeholder => "255文字以内で入力", :class => 'profile_text_area' %> <br>
        <%= f.submit "登録する" %>
      <% end %>
    </div>

  </div>
</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
  </div>
</div>
