<%= include_gon %>

<% if @comment.errors.any? %>
  <%= javascript_pack_tag 'tweets_render' %>
<% end %>

<div class="col-md-6" id="main_div">

  <% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2 class="error_h2"><%= @comment.errors.count %>件のエラーがあります。</h2>
    <ul class="error_ul">
      <% @comment.errors.full_messages.each do |msg| %>
      <li class="error_li"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="goal_detail">
    <table>
      <tr>
        <td class="home_td">
          <% if @tweet.goal.user.profile.image.url.present?%>
            <a class=""><%= image_tag @tweet.goal.user.profile.image.url %></a>
          <% else %>
            <a class=""><%= image_tag src="/assets/default.png", size: "60x60" %></a>
          <% end %>
          <a><%= link_to @tweet.goal.user.profile.user_name, user_path(@tweet.goal.user.id), :class => 'tweet_user_name' %></a>
          <a><%= link_to "@" + @tweet.goal.user.user_account_name, user_path(@tweet.goal.user.id), :class => 'tweet_account_name' %></a>
          <a>
            <% if current_user == @tweet.goal.user%>
              <%= link_to '削除', tweet_path(@tweet.id), method: :delete, data: { confirm: '本当にこのつぶやきを削除していいですか？' }, :class => 'delete_link' %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a><%= link_to "目標: " + @tweet.goal.goal_title, goal_path(@tweet.goal.id), :class => 'goal_title' %></a>
        </td>
      </tr>
      <tr>
        <td class="home_td"><%= link_to simple_format(@tweet.content), tweet_path(@tweet.id), :class => 'tweet_content' %></td>
      </tr>
      <tr class= "">
        <td class="home_td">
          <a>タグ:
            <% @tweet.tweet_tags.each do |tweet_tag|%>
              <%= link_to tweet_tag.tweet_tag_name, tweets_path(:q=>{:tweet_tags_tweet_tag_name_eq=>tweet_tag.tweet_tag_name}, :commit=>"タグで検索"), :class => 'tweet_tag' %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a>
            コメント：<%= @tweet.comments.count%>件
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a>
            <%= @tweet.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
    </table>
  </div>

  <div class="goal_search_1">
    <div class="new_form">
      <%= form_with( model: @comment, local: true ) do |f| %>
        <%= f.text_area :content, :placeholder => "コメントを入力", :class => 'text_area' %> <br>
        <%= f.hidden_field :tweet_id, :value => @tweet.id %> <br>
        <%= f.submit "投稿する" %>
      <% end %>
    </div>
  </div>

  <div class="user_tweet">
    <div class="user_memo">
      <p class="text-center p_condition">コメント一覧</p>
    </div>
    <table>
      <% @comments.each do |comment| %>
      <tr>
        <td class="home_td">
          <% if comment.user.profile.image.url.present?%>
            <a class=""><%= image_tag comment.user.profile.image.url %></a>
          <% else %>
            <a class=""><%= image_tag src="/assets/default.png", size: "60x60" %></a>
          <% end %>
          <a>
            <%= link_to comment.user.profile.user_name, user_path(comment.user.id), :class => 'tweet_user_name' %>
          </a>
          <a>
            <%= link_to "@" + comment.user.user_account_name, user_path(comment.user.id), :class => 'tweet_account_name' %>
          </a>
          <a>
            <% if current_user == comment.user%>
              <%= link_to '削除', comment_path(comment.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, :class => 'delete_link' %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a class="tweet_content"><%= simple_format(comment.content) %></a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td class="home_td">
          <a>
            <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
  </div>
</div>
