<div class="col-md-6" id="main_div">

  <div class="user_detail">
    <table class="user_table">
      <tr>
        <td>
          <% if @user.profile.image.url.present?%>
            <a class=""><%= image_tag @user.profile.image.url %></a>
          <% else %>
            <a class=""><%= image_tag src="/assets/default.png", size: "60x60" %></a>
          <% end %>
          <a class="top_user_name"><%= @user.profile.user_name %></a>
          <a class="top_account_name"><%= "@" + @user.user_account_name %></a>
          <a>
            <% unless current_user == @user%>
              <% unless current_user.following?(@user) %>
                <%= form_with(model: current_user.active_relationships.build(followed_id: @user.id)) do |f| %>
                  <%= f.hidden_field :followed_id %>
                  <%= f.submit "フォローする" %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), method: :delete ) do |f| %>
                  <%= f.submit "フォローを解除する" %>
                <% end %>
              <% end %>
            <% end %>
          <a>
        </td>
      </tr>
      <tr>
        <td class="">
          <a><%= link_to @follow_count, users_path(:follow_search=>{:user_id=>@user.id}, :commit=>@user.profile.user_name + "さんのフォロー"), :class => 'user_follow' %> フォロー中　</a>
          <a><%= link_to @follower_count, users_path(:follower_search=>{:user_id=>@user.id}, :commit=>@user.profile.user_name + "さんのフォロワー"), :class => 'user_follow' %> フォロワー</a>
        </td>
      </tr>
      <tr>
        <td class="user_introduction"><%= simple_format(@user.profile.introduction) %></td>
      </tr>
      <tr>
        <td>
          <% if current_user == @user%>
            <a><%= link_to 'プロフィールを編集', edit_profile_path(@user.profile.id, :user_id=>@user), :class => 'profile_edit_link'%></a>
            <a><%= link_to 'アカウントを削除する', edit_user_registration_path, :class => 'account_delete_link' %></a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="user_tweet">
    <div class="user_memo">
      <p class="text-center p_condition"><%= @user.profile.user_name %>さんのつぶやき一覧</p>
    </div>
    <table>
      <% @tweets.each do |tweet| %>
      <tr>
        <td class="home_td">
          <a>
            <%= link_to tweet.goal.user.profile.user_name, user_path(@user.id), :class => 'tweet_user_name' %>
          </a>
          <a>
            <%= link_to "@" + tweet.goal.user.user_account_name, user_path(@user.id), :class => 'tweet_account_name' %>
          </a>
          <a>
            <% if current_user == tweet.goal.user%>
              <%= link_to '削除', tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, :class => 'delete_link' %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a><%= link_to "目標: " + tweet.goal.goal_title, goal_path(tweet.goal.id), :class => 'goal_title' %></a>
        </td>
      </tr>
      <tr>
        <td class="home_td"><%= link_to simple_format(tweet.content), tweet_path(tweet.id), :class => 'tweet_content' %></td>
      </tr>
      <tr class= "">
        <td class="home_td">
          <a>タグ:
            <% tweet.tweet_tags.each do |tweet_tag|%>
              <%= link_to tweet_tag.tweet_tag_name, tweets_path(:q=>{:goal_tags_goal_tag_name_eq=>tweet_tag.tweet_tag_name}, :commit=>"タグで検索"), :class => 'tweet_tag' %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a>
            コメント：<%= tweet.comments.count%>件
          </a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td class="home_td">
          <a>
            <%= tweet.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>






<div class="col-md-3" id="right_div">

  <div class="right_goal_titles">
    <div class="right_memo">
      <p class="text-center p_condition"><%= @user.profile.user_name %>さんの目標一覧</p>
    </div>
    <table class="table_goal_title">
      <% @user.goals.each do |goal| %>
      <tr class="tr_goal_title">
        <td class="home_td">
          <a><%= link_to goal.goal_title, goal_path(goal.id), :class => 'right_goal_title' %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
