<div class="col-md-6" id="main_div">

  <div class="user_detail">
    <table class="user_table">
      <tr>
        <td>
          <a><%= @user.profile.user_name %></a>
          <a><%= "@" + @user.user_account_name %></a>
        </td>
      </tr>
      <tr>
        <td class="user_introduction"><%= simple_format(@user.profile.introduction) %></td>
      </tr>
      <tr>
        <td>
          <% if current_user == @user%>
            <a><%= link_to 'プロフィールを編集', edit_profile_path(@user.profile.id, :user_id=>@user)%></a>
            <a><%= link_to 'アカウント情報を編集', edit_user_registration_path %></a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="user_tweet">
    <div class="user_memo">
      <p class="text-center p_condition"><%= @user.profile.user_name %>さんのつぶやき一覧</p>
    </div>
    <table>
      <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <a>
            <%= link_to tweet.goal.user.profile.user_name, user_path(@user.id) %>
          </a>
          <a>
            <%= link_to "@" + tweet.goal.user.user_account_name, user_path(@user.id) %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a><%= link_to tweet.goal.goal_title, goal_path(tweet.goal.id) %></a>
        </td>
      </tr>
      <tr>
        <td class="description"><%= simple_format(tweet.content) %></td>
      </tr>
      <tr class= "">
        <td>
          <a>タグ:
            <% tweet.tweet_tags.each do |tweet_tag|%>
              <%= link_to tweet_tag.tweet_tag_name, tweets_path(:q=>{:goal_tags_goal_tag_name_eq=>tweet_tag.tweet_tag_name}, :commit=>"タグで検索") %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td>
          <a>
            <%= tweet.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>






<div class="col-md-3" id="right_div">

  <div class="right_goal_titles">
    <div class="right_memo">
      <p class="text-center p_condition"><%= @user.profile.user_name %>さんのゴール一覧</p>
    </div>
    <table class="table_goal_title">
      <% @user.goals.each do |goal| %>
      <tr class="tr_goal_title">
        <td>
          <a><%= link_to goal.goal_title, goal_path(goal.id) %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
