<% if @tweet.errors.any? || alert %>
  <%= javascript_pack_tag 'homes_render' %>
<% end %>

<div class="col-md-6" id="main_div">

  <% if @tweet.errors.any? %>
  <div id="error_explanation">
    <h2 class="error_h2"><%= @tweet.errors.count %>件のエラーがあります。</h2>
    <ul class="error_ul">
      <% @tweet.errors.full_messages.each do |msg| %>
      <li class="error_li"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="goal_search_1">
    <div class="new_form">
      <%= form_with( model: @tweet, local: true ) do |f| %>
        <%= f.select :goal_id, @goal_titles, {},:class => 'select_field'  %>
        <%= f.text_area :content, :placeholder => "「今日は〇〇を頑張った！」\n「〇〇がわからない、みんなどうしてる？」\nなど、好きなことをつぶやこう！", :class => 'text_area' %> <br>
        <%= f.text_field :tweet_tag_name, :placeholder => "タグを入力しよう！　スペースを開けて５個までタグが付けられるよ！", :class => 'text_field' %> <br>
        <%= f.submit "つぶやく" %>
      <% end %>
    </div>
  </div>

  <div class="goal_index">

    <div class="text-center condition">
      <p><%= button_to 'すべてのユーザー', root_path, { method: :get}%></p>
      <p><%= button_to 'フォロー中のみ', root_path, { method: :get, params: {tweets: 'follow_user'}}%></p>
      <p class="p_condition">
        <% if params[:tweets].present? %>
          つぶやき一覧：フォロー中のみ
        <% else%>
          つぶやき一覧：すべてのユーザー
        <% end %>
      </p>
    </div>

    <table>
      <% @tweets.each do |tweet| %>
      <tr>
        <td class="home_td">
          <a>
            <%= link_to tweet.goal.user.profile.user_name, user_path(tweet.goal.user.id), :class => 'tweet_user_name'  %>
          </a>
          <a>
            <%= link_to "@" + tweet.goal.user.user_account_name, user_path(tweet.goal.user.id), :class => 'tweet_account_name'  %>
          </a>
          <a>
            <% if current_user == tweet.goal.user%>
              <%= link_to '削除', tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, :class => 'delete_link' %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a><%= link_to "目標: " + tweet.goal.goal_title, goal_path(tweet.goal.id), :class => 'goal_title'   %></a>
        </td>
      </tr>
      <tr>
        <td class="home_td"><%= link_to simple_format(tweet.content), tweet_path(tweet.id), :class => 'tweet_content' %></td>
      </tr>
      <tr>
        <td class="home_td">
          <a>タグ：
            <% tweet.tweet_tags.each do |tweet_tag|%>
              <%= link_to tweet_tag.tweet_tag_name, tweets_path(:q=>{:tweet_tags_tweet_tag_name_eq=>tweet_tag.tweet_tag_name}, :commit=>"タグで検索"), :class => 'tweet_tag'  %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="home_td">
          <a>
            コメント：<%= tweet.comments.count%>件
          </a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td class="home_td">
          <a>
            <%= tweet.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>

<div class="col-md-3" id="right_div">

  <div class="right_div_1">
    <div class="right_memo">
      <p class="text-center p_condition">みんなの新しい目標一覧</p>
    </div>
    <table class="right_table">
      <% @goals.each do |goal| %>
      <tr class="right_tr", align="left">
        <td class="home_td">
          <a><%= link_to goal.user.profile.user_name, user_path(goal.user.id), :class => 'right_name' %></a>
          <a><%= link_to "@" + goal.user.user_account_name, user_path(goal.user.id), :class => 'right_account_name' %></a>
        </td>
      </tr>
      <tr class="">
        <td class="home_td">
          <a><%= link_to goal.goal_title, goal_path(goal.id), :class => 'right_goal_title' %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="right_div_2">
    <div class="right_memo">
      <p class="text-center p_condition">新着ユーザー一覧</p>
    </div>
    <table class="right_table">
      <% @users.each do |user| %>
      <tr class="right_tr">
        <td class="home_td">
          <a><%= link_to user.profile.user_name, user_path(user.id), :class => 'right_name' %></a>
          <a><%= link_to "@" + user.user_account_name, user_path(user.id), :class => 'right_account_name' %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
