<div class="col-md-6" id="main_div">
  <div class="goal_search_1">
    <div class="new_form">
      <%= form_with( model: @tweet, local: true ) do |f| %>
        <%= f.select :goal_id, @goal_titles, {},:class => 'select_field'  %>
        <%= f.text_area :content, :placeholder => "詳細を入力", :class => 'text_area' %> <br>
        <%= f.text_field :tweet_tag_name, :placeholder => "タグを入力", :class => 'text_field' %> <br>
        <%= f.submit "登録する" %>
      <% end %>
    </div>
  </div>

  <div class="goal_index">

    <div class="condition">
      <p class="text-center p_condition">ツイート一覧：すべてのユーザー</p>
    </div>

    <table>
      <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <a>
            <%= link_to tweet.goal.user.profile.user_name, user_path(tweet.goal.user.id) %>
          </a>
          <a>
            <%= link_to "@" + tweet.goal.user.user_account_name, user_path(tweet.goal.user.id) %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a><%= link_to tweet.goal.goal_title, goal_path(tweet.goal.id) %></a>
        </td>
      </tr>
      <tr>
        <td class="description"><%= simple_format(tweet.content) %></td>
      </tr>
      <tr>
        <td>
          <a>タグ:
            <% tweet.tweet_tags.each do |tweet_tag|%>
              <%= link_to tweet_tag.tweet_tag_name, tweets_path(:q=>{:tweet_tags_tweet_tag_name_eq=>tweet_tag.tweet_tag_name}, :commit=>"タグで検索") %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td>
          <a>
            <%= tweet.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>

<div class="col-md-3" id="right_div">

  <div class="right_div_1">
    <div class="right_memo">
      <p class="text-center p_condition">みんなの新しい目標一覧</p>
    </div>
    <table class="right_table">
      <% @goals.each do |goal| %>
      <tr class="right_tr", align="left">
        <td>
          <a><%= link_to goal.user.profile.user_name, user_path(goal.user.id) %></a>
          <a><%= link_to goal.user.user_account_name, user_path(goal.user.id) %></a>
        </td>
      </tr>
      <tr class="">
        <td>
          <a><%= link_to goal.goal_title, goal_path(goal.id) %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="right_div_2">
    <div class="right_memo">
      <p class="text-center p_condition">新着ユーザー一覧</p>
    </div>
    <table class="right_table">
      <% @users.each do |user| %>
      <tr class="right_tr">
        <td>
          <a><%= link_to user.profile.user_name, user_path(user.id) %></a>
          <a><%= link_to user.user_account_name, user_path(user.id) %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
