<div class="col-md-8" id="main_div">
  <div class="goal_create">

    <h2 class="login"><%= t('.sign_in') %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field login">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field login">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field login">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions login">
        <%= f.submit t('.sign_in') %>
      </div>
    <% end %>

    <div class="login">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "アカウント新規作成", new_registration_path(resource_name) %><br />
      <% end %>
    </div>

  </div>

  <div class="top_information">
    <h2 class="top_h2 text-center" >Goooalとは？</h2>
    <h3 class="top_h3 text-center">目標達成応援SNS 「Goooal」</h3>
    <p>
      難しい目標でも、みんなと一緒なら頑張れる！ 目標でつながるSNS！<br>
      同じ志を持つ仲間と励まし会いながら努力し、目標達成を目指そう！
    </p>
    <img src="/assets/top.png" class="top_img">
    <h4 class="top_h4 text-center">Goooalの使い方</h4>
    <div class="top_nav">
      <a href="#1">1.プロフィールを作ろう！</a><br>
      <a href="#2">2.自分の目標を投稿しよう！</a><br>
      <a href="#3">3.日々の努力をつぶやこう！</a><br>
      <a href="#4">4.仲間を探そう！</a><br>
      <a href="#5">5.フォローしてみよう！</a><br>
      <a href="#6">6.つぶやきにコメントしよう！</a><br>
    </div>


    <div class="top_content">
      <h4 class="top_h4 text-center", id="1">1.プロフィールを作ろう！</h4>
      <p>
        サイドバーの「マイページ」から「プロフィールを編集」をクリックし、「ユーザー名」と「自己紹介」を編集しましょう。<br>
        自己紹介には、自分の目標や興味があるものを入力しておくと他のユーザーから見つけて貰いやすくなります。<br>
      </p>

      <h4 class="top_h4 text-center", id="2">2.自分の目標を投稿しよう！</h4>
      <p>
        サイドバーの「目標を投稿」をクリックし、自分の目標を投稿しましょう。<br>
        詳細やタグをしっかり書くと、他のユーザーから見つけて貰いやすくなります。<br>
        ※タグは、空白を開けて任意のタグを複数設定できます。<br>
      </p>

      <h4 class="top_h4 text-center", id="3">3.日々の努力をつぶやこう！</h4>
      <p>
        HOME画面中央のセレクトボックスから自分の投稿した目標を選択し、その目標への努力や進捗をつぶやきましょう<br>
        タグをしっかり書くと、他のユーザーから見つけて貰いやすくなります。<br>
        ※タグは、空白を開けて任意のタグを複数設定できます。<br>
      </p>

      <h4 class="top_h4 text-center", id="4">4.仲間を探そう！</h4>
      <p>
        サイドバーの「目標を検索」「つぶやきを検索」「ユーザーを検索」から、仲間を探してみましょう。<br>
        タグやキーワードから、興味のある目標・つぶやき・ユーザーを検索できます。<br>
      </p>

      <h4 class="top_h text-center", id="5">5.フォローしてみよう！</h4>
      <p>
        ユーザー名・アカウント名をクリックして、ユーザー詳細ページを見てみましょう。<br>
        自己紹介文・投稿した目標・つぶやきから、興味が出たら「フォローする」ボタンでフォローしましょう。<br>
      </p>

      <h4 class="top_h4 text-center", id="6">6.つぶやきにコメントしよう！</h4>
      <p>
        つぶやきの内容をクリックして、つぶやき詳細ページを見てみましょう。<br>
        つぶやきへのコメントを投稿し、他のユーザーとコミュニケーションを取りましょう。<br>
      </p>
    </div>







  </div>




</div>


<div class="col-md-2" id="right_div">
  <div class="right_side">
  </div>
</div>
