<div class="col-md-6" id="main_div">
  <div class="main">
    <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <h1>test</h1>
    <p><%= link_to '登録する', new_goal_path %></p>

    <table>
      <% @goals.each do |goal| %>
        <tr>
          <td><%= goal.goal_title %></td>
          <td><%= goal.description %></td>
        </tr>
        <td><%= link_to '詳細', goal_path(goal.id) %></td>
        <td><%= link_to '削除', goal_path(goal.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
      <% end %>
    </table>
  </div>
</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
    <h1>test</h1>
  </div>
</div>
