<div class="col-md-6" id="main_div">

  <div class="goal_search_1">
    <div class="search">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :goal_title_or_description_cont, placeholder: "キーワード", :class => 'text_field'  %><br>
        <%= f.submit "キーワードで検索" %>
      <% end %>
    </div>
  </div>

  <div class="goal_search_2">
    <div class="search">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :goal_tags_goal_tag_name_eq, placeholder: "タグ名", :class => 'text_field'  %><br>
        <%= f.submit "タグで検索" %>
      <% end %>
    </div>
  </div>


  <div class="goal_index">

    <div class="condition">
      <p class="text-center p_condition">検索条件</p>
      <p class="text-center p_condition">
        <% if params[:commit].present?%>
          <% if params[:commit] == "キーワードで検索"%>
            キーワード: <%= params[:q][:goal_title_or_description_cont] %>
          <% elsif params[:commit] == "タグで検索"%>
            タグ名: <%= params[:q][:goal_tags_goal_tag_name_eq] %>
          <% end %>
        <% else %>
        <% puts "NGNGNGNG"%>
          なし
        <% end %>
      </p>
    </div>

    <table>
      <% @goals.each do |goal| %>
      <tr>
        <td>
          <a>
            <%= link_to goal.user.profile.user_name, user_path(goal.user.id) %>
          </a>
          <a>
            <%= link_to goal.user.user_account_name, user_path(goal.user.id) %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a><%= link_to goal.goal_title, goal_path(goal.id) %></a>
        </td>
      </tr>
      <tr>
        <td class="description"><%= simple_format(goal.description) %></td>
      </tr>
      <tr class= "goal_bottom">
        <td>
          <a>タグ:
            <% goal.goal_tags.each do |goal_tag|%>
              <%= link_to goal_tag.goal_tag_name, goals_path(:q=>{:goal_tags_goal_tag_name_eq=>goal_tag.goal_tag_name}, :commit=>"タグで検索") %>
            <% end %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>

  </div>

</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
  </div>
</div>
