<h1>test</h1>
<p><%= notice %></p>
<p><%= link_to '登録する', new_goal_path %></p>

<table>
  <% @goals.each do |goal| %>
    <tr>
      <td><%= goal.goal_title %></td>
      <td><%= goal.description %></td>
    </tr>
    <td><%= link_to '詳細', goal_path(goal.id) %></td>
    <td><%= link_to '削除', goal_path(goal.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  <% end %>
</table>
