<div class="col-md-6" id="main_div">

  <div class="goal_search">
    <div class="">
      <%= search_form_for @search do |f| %>
        <%= f.label :goal_title_or_description, "Keyword" %>
        <%= f.search_field :goal_title_or_description_cont %>

        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="goal_index">

    <div class="condition">
      <p class="text-center p_condition">検索条件:
        <% if @condition.present?%>
          <%= @condition[:goal_title_or_description_cont] %>
        <% else %>
          なし
        <% end %>
      </p>
    </div>

    <table>
      <% @goals.each do |goal| %>
      <tr>
        <td>
          <a><%= goal.user.user_account_name %></a>
          <a>@takanashi</a>
        </td>
      </tr>
      <tr>
        <td>
          <a><%= link_to goal.goal_title, goal_path(goal.id) %></a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td class="description"><%= simple_format(goal.description) %></td>
      </tr>
      <% end %>
    </table>

  </div>

</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
  </div>
</div>
