<div class="col-md-6" id="main_div">

  <% if @goal.errors.any? %>
  <div id="error_explanation">
    <h2 class="error_h2"><%= @goal.errors.count %>件のエラーがあります。</h2>
    <ul class="error_ul">
      <% @goal.errors.full_messages.each do |msg| %>
      <li class="error_li"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="goal_create">

    <div class="new_form">
      <%= form_with( model: @goal, local: true ) do |f| %>
        <%= f.text_field :goal_title, :placeholder => "自分の目標を入力しよう！", :class => 'text_field' %> <br>
        <%= f.text_area :description, :placeholder => "目標の詳細を入力しよう！", :class => 'text_area' %> <br>
        <%= f.text_field :goal_tag_name, :placeholder => "タグを入力しよう！　スペースを開けて５個までタグが付けられるよ！", :class => 'text_field' %> <br>
        <%= f.submit "投稿する" %>
      <% end %>
    </div>

  </div>
</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
  </div>
</div>
