<div class="col-md-6" id="main_div">

  <div class="goal_detail">
    <table>
      <tr>
        <td>
          <a><%= link_to @goal.user.profile.user_name, user_path(@goal.user.id) %></a>
          <a><%= link_to "@" + @goal.user.user_account_name, user_path(@goal.user.id) %></a>
          <a>
            <% if current_user == @goal.user%>
              <%= link_to '削除', goal_path(@goal.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a><%= link_to @goal.goal_title, goal_path(@goal.id) %></a>
        </td>
      </tr>
      <tr>
        <td class="description"><%= simple_format(@goal.description) %></td>
      </tr>
      <tr class= "goal_bottom">
        <td>
          <a>タグ:
            <% @goal.goal_tags.each do |goal_tag|%>
              <%= link_to goal_tag.goal_tag_name, goals_path(:q=>{:goal_tags_goal_tag_name_eq=>goal_tag.goal_tag_name}, :commit=>"タグで検索") %>
            <% end %>
          </a>
        </td>
      </tr>
    </table>
  </div>

  <div class="user_tweet">
    <div class="user_memo">
      <p class="text-center p_condition">目標「<%= @goal.goal_title %>」のつぶやき一覧</p>
    </div>
    <table>
      <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <a>
            <%= link_to tweet.goal.user.profile.user_name, user_path(@goal.user.id) %>
          </a>
          <a>
            <%= link_to "@" + tweet.goal.user.user_account_name, user_path(@goal.user.id) %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a><%= link_to tweet.goal.goal_title, goal_path(tweet.goal.id) %></a>
        </td>
      </tr>
      <tr>
        <td class="description"><%= simple_format(tweet.content) %></td>
      </tr>
      <tr class= "">
        <td>
          <a>タグ:
            <% tweet.tweet_tags.each do |tweet_tag|%>
              <%= link_to tweet_tag.tweet_tag_name, tweets_path(:q=>{:goal_tags_goal_tag_name_eq=>tweet_tag.tweet_tag_name}, :commit=>"タグで検索") %>
            <% end %>
          </a>
        </td>
      </tr>
      <tr class= "goal_bottom">
        <td>
          <a>
            <%= tweet.created_at.strftime('%Y年%m月%d日 %H:%M')%>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>

<div class="col-md-3" id="right_div">
  <div class="right_side">
  </div>
</div>
