<!DOCTYPE html>
<html>
<head>
  <title>Goooal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <a href="#" class="logo">Goooal</a>
    <% if user_signed_in? %>
    <%= link_to "目標投稿", goals_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </header>

  <% unless controller_name == "registrations" || controller_name == "sessions"%>
    <main class="container" id="content">
      <div class="row">

        <div class="col-md-3" id="left_div">
          <nav class="left_side">
            <ul class="list-group">
              <li class="list-group-item"><a href="#">HOME</a></li>
              <li class="list-group-item"><a href="#">マイページ</a></li>
              <li class="list-group-item"><a href="#">目標を投稿</a></li>
              <li class="list-group-item"><a href="#">目標を検索</a></li>
              <li class="list-group-item"><a href="#">つぶやきを検索</a></li>
              <li class="list-group-item"><a href="#">ユーザーを検索</a></li>
            </ul>
          </nav>
        </div>

        <%= yield %>

      </div>
    </main>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
