<!DOCTYPE html>
<html>
<head>
  <title>Goooal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <table class="header_table">
      <tr>
        <td>
          <div class="logo"><%= link_to "Goooal", root_path, :class => 'header_logo_link'  %></div>
        </td>

          <% if user_signed_in? %>
          <td><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'header_link'  %></td>
          <td>
            <a><%= link_to current_user.profile.user_name, user_path(current_user.id), :class => 'header_link' %></a>
            <a><%= link_to "@" + current_user.user_account_name, user_path(current_user.id), :class => 'header_link' %></a>
          </td>
            <% if current_user.admin == true%>
              <td><%= link_to "管理画面", rails_admin_path, :class => 'header_link'  %></td>
            <% end %>
          <% else %>
          <td><%= link_to "新規登録", new_user_registration_path, :class => 'header_link'  %></td>
          <td><%= link_to "ログイン", new_user_session_path, :class => 'header_link'  %></td>
          <% end %>

      </tr>
    </table>
  </header>

  <div class="main_div">
    <div class="infomation">

      <p class="infomation">
        <% if controller_name == "homes" && action_name == "index"%>
          HOME
        <% elsif controller_name == "tweets" && action_name == "create"%>
          HOME
        <% elsif controller_name == "users" && action_name == "show"%>
          <% if params[:id].to_i == current_user.id%>
            マイページ
          <% else %>
            ユーザー詳細
          <% end %>
        <% elsif controller_name == "goals" && action_name == "index"%>
          目標検索
        <% elsif controller_name == "goals" && action_name == "show"%>
          目標詳細
        <% elsif controller_name == "goals" && action_name == "create"%>
          目標投稿
        <% elsif controller_name == "goals" && action_name == "new"%>
          目標投稿
        <% elsif controller_name == "tweets" && action_name == "index"%>
          つぶやき検索
        <% elsif controller_name == "users" && action_name == "index"%>
          ユーザー検索
        <% elsif controller_name == "profiles" && action_name == "edit"%>
          プロフィール編集
        <% elsif controller_name == "profiles" && action_name == "update"%>
          プロフィール編集
        <% elsif controller_name == "tweets" && action_name == "show"%>
          つぶやき詳細
        <% elsif controller_name == "comments" && action_name == "create"%>
          つぶやき詳細
        <% elsif controller_name == "registrations" && action_name == "edit"%>
          <%= "@" + current_user.user_account_name%>
        <% end %>
      </p>

      <% if notice %>
      <p class="notice_alert"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="notice_alert"><%= alert %></p>
      <% end %>

    </div>

    <% unless controller_name == "registrations" || controller_name == "sessions" || controller_name == "helps"%>
    <main class="container" id="content">
      <div class="row">

        <div class="col-md-3" id="left_div">
          <nav class="left_side">
            <ul class="left_list">
              <li class="left_item">
                <%= link_to root_path, :class => 'left_link' do%>
                  <p>HOME</p>
                <% end %>
              </li>
              <li class="left_item">
                <%= link_to user_path(current_user.id), :class => 'left_link' do%>
                  <p>マイページ</p>
                <% end %>
              </li>
              <li class="left_item">
                <%= link_to new_goal_path, :class => 'left_link' do%>
                  <p>目標を投稿</p>
                <% end %>
              </li>
              <li class="left_item">
                <%= link_to goals_path, :class => 'left_link' do%>
                  <p>目標を検索</p>
                <% end %>
              </li>
              <li class="left_item">
                <%= link_to tweets_path, :class => 'left_link' do%>
                  <p>つぶやきを検索</p>
                <% end %>
              </li>
              <li class="left_item">
                <%= link_to users_path, :class => 'left_link' do%>
                  <p>ユーザーを検索</p>
                <% end %>
              </li>
              <li class="left_item">
                <%= link_to helps_path, :class => 'left_link' do%>
                  <p>Goooalとは？</p>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>

        <%= yield %>

      </div>
    </main>
    <% else %>
    <main class="container" id="content">
      <div class="row">
        <div class="col-md-2" id="left_div">
        </div>
        <%= yield %>
      </div>
    </main>
    <% end %>
  </div>

  <footer>
    <% if user_signed_in?%>
      <div class="footer_div">
        <%= link_to root_path, :class => 'left_link' do%>
          <p class="footer_p">HOME</p>
        <% end %>
      </div>
    <% else %>
      <div class="footer_div">
        <%= link_to new_user_session_path, :class => 'header_link' do%>
          <p class="footer_p">ログイン</p>
        <% end %>
      </div>
    <% end %>
  </footer>
</body>
</html>
