<!DOCTYPE html>
<html>
<head>
  <title>Goooal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <a href="#" class="logo">Goooal</a>
    <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to current_user.user_account_name, goals_path %>
    <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </header>

  <div class="infomation">
    <% if notice %>
    <p class="infomation"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="infomation"><%= alert %></p>
    <% end %>

    <p class="infomation">
      <% if controller_name == "goals" && action_name == "index"%>
        ゴール検索
      <% elsif controller_name == "goals" && action_name == "show"%>
        ゴール詳細
      <% elsif controller_name == "goals" && action_name == "new"%>
        ゴール新規作成
      <% end %>
    </p>
  </div>

  <% unless controller_name == "registrations" || controller_name == "sessions"%>
    <main class="container" id="content">
      <div class="row">

        <div class="col-md-3" id="left_div">
          <nav class="left_side">
            <ul class="list-group">
              <li class="list-group-item"><%= link_to 'HOME', goals_path%></li>
              <li class="list-group-item"><%= link_to 'マイページ', edit_profile_path(current_user.profile.id)%></li>
              <li class="list-group-item"><%= link_to '目標を投稿', new_goal_path%></li>
              <li class="list-group-item"><%= link_to '目標を検索', goals_path%></li>
              <li class="list-group-item"><%= link_to 'つぶやきを検索', goals_path%></li>
              <li class="list-group-item"><%= link_to 'ユーザーを検索', goals_path%></li>
            </ul>
          </nav>
        </div>

        <%= yield %>

      </div>
    </main>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
